<ion-view view-title="" style="background: url('img/splash-1.jpg') no-repeat top center fixed; -moz-background-size: cover; background-size: cover;">
  <ion-content>
    <div class="list home-wrap">
      <p class="tagline">Save money on your electricity bill by switching to solar energy.</p>
      <label class="item item-input item-stacked-label search-wrap">
        <span for="addressField" class="sr-only input-label" style="font-weight: bold; color: #fff; text-transform: uppercase;">Search Address:</span>
  	  <input type="text" id="addressField" class="address-search-input" g-places-autocomplete force-selection="true" ng-model="address" ng-change="onAddressChange()" placeholder="Enter your address" />
        <br />
      </label>
      <div style="text-align: center;">
        <button ui-sref="app.trace" class="button button-calm" disabled="!figures.address">Get Started</button>
      </div>
    </div>


<!--   div class="item item-input-inset">
    <label class="item-input-wrapper">
    Address
      <input type="text" placeholder="Email">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div> -->
  </ion-content>
</ion-view>
