.main-wrap {
	padding: 20px 10px;
}

.bar.bar-custom { 
	background-color: #99a5bb !important;
	background-image: none;
	color: #fff;
}

.bar .button.back-button {
  min-width: 100px;
  text-align: left;
}

.home-wrap {
	margin-top: 180px; 
}
.tagline {
	font-size: 18px;
	font-weight: 400;
	margin: 0 auto;
	max-width: 280px;
	color: #fff;
	text-align: center
}
.search-wrap {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 20px;
	background-color: rgba(30,30,30,.2);
}
.item-input input.address-search-input {
	padding: 5px 10px;
	font-size: 1.07em;
	line-height: 1.4em;
	height: 40px;
}